
.ninja:hover {
    opacity: 0.3;
    transition: 0.5s;
    transition-timing-function: ease-out;
  }

  .ninja {
    transition: opacity 2s, transform 2s 1s;
  }

  .ninja:active {
    transform: translate(0, -20px);
    transition-duration: .5s;
  }

   .ninja:active {
    transform: translate(0,-100px);
    transition-duration: 1s;
  }

  .spin {
    transform: rotateY(2turn);
    transition: transform 2s;
  }

  .flip {
    transform: rotateX(2turn);
    transition: transform 2s;
  }

  .grow {
    transform: scale(2);
    transition: transform 1s;
  }

  .shrink {
    transform: scale(.5);
    transition: transform 1s;
  }

  .special{
    transform: skew(45deg) rotateX(2turn);
    transition: transform 2s;
  }